#shoes-button {
    width: 75px;
    padding: 9px;
    display: block;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}



#scarypic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#linkAudio {
    visibility: hidden;
}