body {

  background-color: rgb(255, 255, 255);

}

#Font1 {

  font-family: "Raleway";
  
  font-weight: lighter;

  color: rgb(0, 0, 0);

}

#Font2 {

font-family: "Raleway";

font-weight: bolder;

color: rgb(0, 0, 0);

}

a {

  position: fixed;

right: 0;

top: 0;

}